.yearWrap {
    display: inline-block;
    margin-bottom: 50px;
    width: 99%;
    margin: 0 auto;
}

.yearWrap h3, h6 {
    margin: 5px;
}

.rowOfMonths {
    float: left;
    width: 100%;
    margin: 5px auto;
}

.month {
    border: $border solid 1px;
    padding: 5px;
    margin: 0 5px 5px 0;
    min-width: 30%;
    float: left;
}

.week {
    padding: 5px;
    margin: 0 auto;
    float: left;
}

.day {
    border: $border solid 1px;
    padding: 2px;
    margin: 2px;
}

.day.hilight {
    border: $hilight solid 1px;
}
