* {
  box-sizing: border-box;
}

html {
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    z-index: 1;
    margin: 0;
}

body {
    margin: 77px 16px;
    padding: 0;
    border: none;
    background-color: rgba($body-bg, 0.6);
    -webkit-animation: fadein 1s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.clear {
    clear: both;
}

.entryWrap {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid $border;
    -webkit-animation: fadein 1s;

    h1, 
    h2, 
    h3, 
    h4, 
    h5, 
    h6 {
        margin: 10px 0 5px 0;
        color: $heading;
    }

    &.upload {
        margin: 0;
    }

    &#search input,
    &#search select {
        margin: 0 10px 10px 0;
    }

    &#search label {
        display: inline-block;
        width: 50px;
    }
}

.entry,
.tagsAndStats,
.pix,
.stats {
    padding: 10px;
    margin: 20px 20px;
    border: 1px solid $border;
}

.entry {
    margin-top: 0;
}

.entryWrap.bkp-restore {
    clear: both;

    input {
        margin-bottom: 7px;
    }

    .left,
    .right {
        width: 49%;
        float: left;
    }

    .right img {
        display: none;
    }

    .left {
        word-break: break-all;
        white-space: normal;
    }
}

.pix  {
    img {
        width: 100%;
        margin-bottom: 8px;
    }

    video {
        display: block;
        margin-bottom: 8px;
    }
}

.header {
    height: 35px;
    clear: both;
    margin-bottom: 10px;
    margin: 0px 20px;
}

.titleDate {
    color: $hilight;
    font-size: 20pt;
    float: left;
}

.titleDateUnix {
    display: none;
}

.titleInfo {
    float: right;
    margin-top: 11px;
}

.titleIdHeader {
    color: $hilight;
    font-size: 11pt;
    margin-top: 5px;
}

.notification {
    position: fixed;
    bottom: 0;
    right: 15px;
    padding: 5px;
    text-align: right;
    font-style: italic;
    font-size: 10pt;
    color: $heading;
}

#buttons {
    clear: both;
    height: 18px;
}

button,
html input[type="button"] {
    background-color: $button-bg;
    color: $button-text;
    margin-right: 5px;
    border: 1px solid $border;
}

html input[type="button"]:hover {
    color: $hilight;
}

.buttons {
    padding-bottom: 13px;
    height: 20px;
    margin: 0px 20px 15px 20px;
}

.buttons .tagSelector,
.buttons .btnEdit,
.buttons .btnView,
.save,
#btnTags,
#btnClose {
    float: right;
    margin-right: 0;
}

.buttons .tagSelector,
.buttons .btnView {
    margin-right: 5px;
}

input[type="text"] {
    background-color: $button-bg;
    color: $text;
    margin-bottom: 5px;
    padding: 3px;

    &#inpTitleDate {
        font-size: 16px;
    }
}

.row {
    input[type="text"] {
        margin-right: 5px;
    }
}

table.data-input {
    border-spacing: 10px;
    border-collapse: collapse;
    border-bottom: 1px solid $border;
    margin-bottom: 15px;

    td {
        margin: 8px;
        padding: 3px;
        width: 150px;
    }

    input[type="text"] {
        width: 139px;
    }
}
