#menu {
    position: fixed;
    top: 33px;
    left: 11px;
    width: 100%;
    padding: 5px;

    .menu-item {
        float: left;
        margin-right: 10px;
        color: $button-text;
    }

    .menu-item:hover {
        color: $hilight;
    }
}
