.tagsAndStats,
.stats {
    min-height: 100px;

    h6 {
        width: 40%;
        font-size: 15px;
    }

    .tags,
    .stats { 
        float: left;
        width: 49%;
        margin: 0;
        padding: 0;
        border: none;
        clear: none;
    }
}

.tags {
    .tagsDisplay {
        display: block;
        font-style: italic;
        margin-top: 30px;
        font-size: 10pt;
        text-align: right;
    }

    .btnTags {
        float: right;
    }

    input[type="text"] {
        margin-right: 5px;
    }

    select, 
    input {
        display: block;    
        margin-bottom: 5px;
    }
}

.statBlockWrap {
    height: 3px;
    background-color: $lightBg;
    width: 600px;
    margin: 0 auto;
}

.statBlock {
    height: 3px;
    background-color: $menu-text;
    float: left;
}
