#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#title-bar {
    text-align: center;
    line-height: 40px;
    width: 100%;
    vertical-align: middle;
    padding: 0;
    margin: 0px;
}

#title {
    color: $title;
    margin: 0 auto;
}

#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0;
    right: 11px;
}
