* {
  box-sizing: border-box; }

html {
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  z-index: 1;
  margin: 0; }

body {
  margin: 77px 16px;
  padding: 0;
  border: none;
  background-color: rgba(0, 43, 54, 0.6);
  -webkit-animation: fadein 1s; }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.clear {
  clear: both; }

.entryWrap {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #586e75;
  -webkit-animation: fadein 1s; }
  .entryWrap h1,
  .entryWrap h2,
  .entryWrap h3,
  .entryWrap h4,
  .entryWrap h5,
  .entryWrap h6 {
    margin: 10px 0 5px 0;
    color: #88850d; }
  .entryWrap.upload {
    margin: 0; }
  .entryWrap#search input,
  .entryWrap#search select {
    margin: 0 10px 10px 0; }
  .entryWrap#search label {
    display: inline-block;
    width: 50px; }

.entry,
.tagsAndStats,
.pix,
.stats {
  padding: 10px;
  margin: 20px 20px;
  border: 1px solid #586e75; }

.entry {
  margin-top: 0; }

.entryWrap.bkp-restore {
  clear: both; }
  .entryWrap.bkp-restore input {
    margin-bottom: 7px; }
  .entryWrap.bkp-restore .left,
  .entryWrap.bkp-restore .right {
    width: 49%;
    float: left; }
  .entryWrap.bkp-restore .right img {
    display: none; }
  .entryWrap.bkp-restore .left {
    word-break: break-all;
    white-space: normal; }

.pix img {
  width: 100%;
  margin-bottom: 8px; }

.pix video {
  display: block;
  margin-bottom: 8px; }

.header {
  height: 35px;
  clear: both;
  margin-bottom: 10px;
  margin: 0px 20px; }

.titleDate {
  color: #d33682;
  font-size: 20pt;
  float: left; }

.titleDateUnix {
  display: none; }

.titleInfo {
  float: right;
  margin-top: 11px; }

.titleIdHeader {
  color: #d33682;
  font-size: 11pt;
  margin-top: 5px; }

.notification {
  position: fixed;
  bottom: 0;
  right: 15px;
  padding: 5px;
  text-align: right;
  font-style: italic;
  font-size: 10pt;
  color: #88850d; }

#buttons {
  clear: both;
  height: 18px; }

button,
html input[type="button"] {
  background-color: #333333;
  color: #157dd1;
  margin-right: 5px;
  border: 1px solid #586e75; }

html input[type="button"]:hover {
  color: #d33682; }

.buttons {
  padding-bottom: 13px;
  height: 20px;
  margin: 0px 20px 15px 20px; }

.buttons .tagSelector,
.buttons .btnEdit,
.buttons .btnView,
.save,
#btnTags,
#btnClose {
  float: right;
  margin-right: 0; }

.buttons .tagSelector,
.buttons .btnView {
  margin-right: 5px; }

input[type="text"] {
  background-color: #333333;
  color: #9c9898;
  margin-bottom: 5px;
  padding: 3px; }
  input[type="text"]#inpTitleDate {
    font-size: 16px; }

.row input[type="text"] {
  margin-right: 5px; }

table.data-input {
  border-spacing: 10px;
  border-collapse: collapse;
  border-bottom: 1px solid #586e75;
  margin-bottom: 15px; }
  table.data-input td {
    margin: 8px;
    padding: 3px;
    width: 150px; }
  table.data-input input[type="text"] {
    width: 139px; }

html {
  background: url(../img/swirl.gif) fixed;
  background-position: bottom; }

.tagsAndStats,
.stats {
  min-height: 100px; }
  .tagsAndStats h6,
  .stats h6 {
    width: 40%;
    font-size: 15px; }
  .tagsAndStats .tags,
  .tagsAndStats .stats,
  .stats .tags,
  .stats .stats {
    float: left;
    width: 49%;
    margin: 0;
    padding: 0;
    border: none;
    clear: none; }

.tags .tagsDisplay {
  display: block;
  font-style: italic;
  margin-top: 30px;
  font-size: 10pt;
  text-align: right; }

.tags .btnTags {
  float: right; }

.tags input[type="text"] {
  margin-right: 5px; }

.tags select,
.tags input {
  display: block;
  margin-bottom: 5px; }

.statBlockWrap {
  height: 3px;
  background-color: #888;
  width: 600px;
  margin: 0 auto; }

.statBlock {
  height: 3px;
  background-color: #3333ee;
  float: left; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

#title-bar {
  text-align: center;
  line-height: 40px;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0px; }

#title {
  color: #157dd1;
  margin: 0 auto; }

#title-bar-btns {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 0;
  right: 11px; }

#header {
  background: #002b36 url(../img/swirlTitle.png);
  border-bottom: 1px solid #586e75;
  height: 66px; }

#title-bar {
  -webkit-app-region: drag;
  height: 30px; }

#title {
  font-size: 20px;
  font-style: italic;
  letter-spacing: 3px; }

#menu {
  position: fixed;
  top: 33px;
  left: 11px;
  width: 100%;
  padding: 5px; }
  #menu .menu-item {
    float: left;
    margin-right: 10px;
    color: #157dd1; }
  #menu .menu-item:hover {
    color: #d33682; }

.yearWrap {
  display: inline-block;
  margin-bottom: 50px;
  width: 99%;
  margin: 0 auto; }

.yearWrap h3, h6 {
  margin: 5px; }

.rowOfMonths {
  float: left;
  width: 100%;
  margin: 5px auto; }

.month {
  border: #586e75 solid 1px;
  padding: 5px;
  margin: 0 5px 5px 0;
  min-width: 30%;
  float: left; }

.week {
  padding: 5px;
  margin: 0 auto;
  float: left; }

.day {
  border: #586e75 solid 1px;
  padding: 2px;
  margin: 2px; }

.day.hilight {
  border: #d33682 solid 1px; }
