$green: #88850d;
$pink: #d33682;
$blue: #157dd1;
$orange: #cb4b16;
$lightGrey: #ccc;
$offWhite: #fdf6e3;

$body-bg: $offWhite;
$lightBg: $lightGrey;
$text: #333;
$heading: #444;
$border: $lightGrey;
$hilight: $pink;
$title: $blue;
$button-bg: $lightGrey;
$button-text: $blue;
$menu-text: #3333ee;
