$green: #88850d;
$pink: #d33682;
$blue: #157dd1;
$orange: #cb4b16;
$lightGrey: #888;
$darkGrey: #002b36;

$body-bg: $darkGrey;
$lightBg: $lightGrey;
$text: #9c9898;
$heading: $green;
$border: #586e75;
$hilight: $pink;
$title: $blue;
$button-bg: #333333;
$button-text: $blue;
$menu-text: #3333ee;
