@import '../common/_title_bar_base';

#header {
    background: $body-bg url(../img/swirlTitle.png);
    border-bottom: 1px solid $border;
    height: 66px;
}

#title-bar {
    -webkit-app-region: drag;
    height: 30px;
}

#title {
    font-size: 20px;
    font-style: italic;
    letter-spacing: 3px;
}
